*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    padding: 5px;
    margin: 5px;
  }

#julliec {
    background-color: #0ba6cc;
}
nav a {
    text-decoration: none;
    color: plum;
    margin-right: 15px;
}

th {
    padding: 12px;
    background-color: #044335;
    color: aliceblue;
    width: fit-content;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}
#activities{
    display: none;
}
#showButton {
    padding: auto;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: antiquewhite;
}
#shortIntro {
    display: block;
}
#longIntro, #readLess {
    display: none;
}
#readMore, #readLess {
    font-style: italic;
    cursor: pointer;
    background-color: bisque;
}

#ValidateMSG {
    text-align: center;
}

#dfsPhoto {
    border-radius: 10%;
}
#adviceButton {
    border-radius: 5px;
    background-color: antiquewhite;
    display: inline-block;
    cursor: pointer;
}

.mainLayout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item1, .item2 {
    flex: 1;
    min-width: 200px
}