<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="./static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jullie Cach">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jullie Cach professional website">
<title>Jullie Cach</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="julliec">Julissa Cach</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
        <div>
            <main>
                <h2>Contact Me</h2>
                <form action="/action_page.php">
                    <label for="fname">Your name (required):</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="yemail">Your email:</label><br>
                    <input type="text" id="yemail" name="yemail">
                    <label for="ycomment">Your comment:</label><br>
                    <input type="text" id="ycomment" name="ycomment">
                    <input type="submit" value="Submit">
                </form>
        
                <table>
                    <tr>
                        <td>Jullie Cach</td>
                    <tr>
                        <td>jullie.cach@gmail.com</td>
                    </tr>
                        <td>Linkedln</td>
                    </tr>
                </table>
                
    
            </main>
        </div>
        <footer>
            <p id="copyYear">designed 👩🏻‍🎨 and coded 👩🏻‍💻 by Jullie Cach &copy; </p> 
        </footer>
</body>
</html>