<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="./static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jullie Cach">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jullie Cach professional website">
<title>Jullie Cach</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="julliec">Julissa Cach</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
        <div class="main">
            <h2>Things I love to do for fun</h2>
            <button id="showButton" type="button" onclick="showList()">Click to see...</button>
            <ul id="activities">
                <li>Singing</li>
                <li>Dancing</li>
                <li>Journaling</li>
                <li>Baking</li>
                <li>Creating playlists and exploring new music</li>
            </ul>
        </div>

        <footer>
            <p id="copyYear">designed 👩🏻‍🎨 and coded 👩🏻‍💻 by Jullie Cach &copy; </p>
        </footer>
</body>
</html>
