<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jullie Cach">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jullie Cach professional website">
<title>Jullie Cach</title>
</head>
<body>
    <header>
        <h1 id="julliec">Julissa Cach</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
        <div>
            <main>
                <h2>Curriculum Vitae</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Carnegie Mellon University</td>
                        <td>First-Year student studying Information System</td>
                    </tr>
                    <tr>
                        <td>The Archer School For Girls</td>
                        <td>Attended for 7 years (middle and high school) and was an exec member for Hermanas Unidas, a chair member for The Honor Education Council, part of the upper school choir and acappella.</td>
                    </tr>
                    <tr>
                        <td>SDS Capital Group</td>
                        <td>Internship during Summer 2024. Worked on researching for and Manufacturing SBIC Fund</td>
                    </tr>
                    <tr>
                        <td>HSK Silver Medal Award</td>
                        <td>Hanyu Shuiping Kaoshi is a international standardized test for Chinese learners. I recieved a Silver Medal for Reaching level 3.</td>
                    </tr>
                </table>
                <a href="../static/Julissa Cach Resume pdf.pdf"> Jullie Cach's Resume</a>
    
            </main>
        </div>
    
</body>
</html>