*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    padding: 5px;
    margin: 5px;
  }

#julliec {
    background-color: #0ba6cc;
}
nav a {
    text-decoration: none;
    color: plum;
    margin-right: 15px;
}

th {
    padding: 12px;
    background-color: #044335;
    color: aliceblue;
    width: fit-content;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}
#activities{
    display: none;
}
#showButton {
    padding: auto;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: antiquewhite;
}
#shortIntro {
    display: block;
}
#longIntro, #readLess {
    display: none;
}
#readMore, #readLess {
    font-style: italic;
    cursor: pointer;
    background-color: bisque;
}

#ValidateMSG {
    text-align: center;
}

#dfsPhoto {
    border-radius: 10%;
}
#adviceButton {
    border-radius: 5px;
    background-color: antiquewhite;
    display: inline-block;
    cursor: pointer;
}

.mainLayout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item1, .item2 {
    flex: 1;
    min-width: 200px
}

.nav-link {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-right: 15px;
    float: left;
    display: flex;
    color: cornflowerblue;
    display: block;
}

#nav-link-template {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: azure;
    margin-right: 15px;
    float: left;
    display: block;
}

.nav-link:active, .nav-link.active {
    color: aliceblue;
    background-color: #044335;
    padding: 5px;
    border-radius: 5px;
}

.nav-link:hover {
    color: aliceblue;
    background-color: #044335;
    padding: 2px;
}

nav a.icon {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header'
    'nav nav'
    'figure main'
    'bottom-content bottom-content'
    'footer footer';
    gap: 1rem;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}

header {
    grid-area: header;
    background-color: lightblue;
}

nav {
    grid-area: nav;
    background-color: lightpink;
    overflow: hidden;
}
 /*figure {
    grid-area: figure;
    background-color: lavender;
    height: 30%;
 } */

 main{
    grid-area: main;
    background-color: lightgreen;
    display: grid;
    grid-template-areas: 'mainimg maincontent'
    'bottom-content bottom-content';
 }

 /*summary {
    grid-area: bottom-content;
    background-color: lightcoral;
 } */

 footer {
    grid-area: footer; 
    background-color: lightgoldenrodyellow;
 }

 .mainimg{
    grid-area: mainimg;
    background-color: cadetblue;
 }

 .maincontent {
    grid-area: maincontent;
    background-color: burlywood;
 }

 .bottom-content {
    grid-area: bottom-content;
    background-color: lightseagreen;
 }

 @media only screen and (max-width: 650px) {
    body {
        background-color: black;
    }
    .main {
        grid-area: main;
        background-color: lightgreen;
        display: grid;
        grid-template-areas: 'mainimg maincontent'
        'bottom-content bottom-content';
    }
}

@media screen and (max-width: 650) {
    .navBar.responsive {position: relative;}
    .navBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a.icon {
        display: block;
        text-align: left;
        float: none;
    }
}