<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jullie Cach">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jullie Cach professional website">
<title>Jullie Cach</title>
</head>
<body>
    <header>
        <h1>Julissa Cach</h1>
        <nav>
            <a href="Users/jcach/Desktop/Jullie-WebDev-Project/index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
        <div>
            <main>
                <h2>Curriculum Vitae</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Carnegie Mellon University</td>
                        <td>First-Year student studying Information System</td>
                    </tr>
                    <tr>
                        <td>The Archer School For Grils</td>
                        <td>Attended for 7 years (middle and high school) and was an exec member for Hermanas Unidas, a chair member for The Honor Education Council.</td>
                    </tr>
                </table>
                <a href="Users/jcach/Desktop/Jullie-WebDev-Project/jcach-lab1/static/Julissa Cach Resume pdf.pdf"> Jullie Cach's Resume</a>
    
            </main>
        </div>
    
</body>
</html>