<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jullie Cach">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jullie Cach professional website">
<title>Jullie Cach</title>
</head>
<body>
    <header>
        <h1>Julissa Cach</h1>
        <nav>
            <a href="/Users/jcach/Desktop/Jullie-WebDev-Project/index.html"> Home </a>
            <a href="/Users/jcach/Desktop/Jullie-WebDev-Project/jcach-lab1/views/cv.html"> CV </a>
            <a href="/Users/jcach/Desktop/Jullie-WebDev-Project/jcach-lab1/views/contact.html"> Contact Me </a>
            <a href="/Users/jcach/Desktop/Jullie-WebDev-Project/jcach-lab1/views/fun.html"> For Fun </a>
        </nav>
    </header>
        <div>
            <main>
                <h2>Things I love to do for fun</h2>
                <ol>
                    <li>Singing</li>
                    <li>Dancing</li>
                    <li>Journaling</li>
                    <li>Baking</li>
                    <li>Creating playlists and exploring new music</li>
                </ol>
    
            </main>
        </div>
    
</body>
</html>
